* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ethnocentric rg it', 'Smooch Sans', sans-serif;
    /* font-size: xx-small; */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'ethnocentric rg it';
    src: url(fonts/ethnocentric/ethnocentric\ rg\ it.otf);
  }
  
a {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 100%;
    min-height: 100vh;
}

#card1 {
    background-color: #141918;
    z-index: -5;
}
#card2 {
    background-color: #fcfffd;
    z-index: -4;
}
#card3 {
    background-color: #141918;
    z-index: -3;
}
#card4 {
    background-color: #fcfffd;
    z-index: -2;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0 !important;
}

#card1 {
    position: fixed;
    top: 0;
}

#card2 {
    margin-top: 100vh;
}

.logo {
    position: fixed;
    top: 8px;
    left: 8px;
    font-size: 40px;
}

.logo a {
    text-decoration: none;
    color: #fcfffd;
}

.burger {
    position: fixed;
    top: 8px;
    right: 8px;
    color: #fcfffd;
}

#card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("bg.jpg");
    font-family: 'Smooch Sans', sans-serif;
    color: #fcfffd;
}

#card1 h1 {
    font-size: 135px;
    color: #fcfffd;
    font-weight: 200;
}

nav * {
    transition: all 0.7s ease-in-out;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 1;
}

nav ul {
    list-style: none;
    background-color: #150933;
    padding: 24px;
    /* padding-top: 130px; */
    margin: -50px 0 0 0;
    height: 100vh;
    clip-path: circle(10% at 90% 3%);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    perspective: 1800px;
}
nav .menu {
    width: 48px;
    height: 40px;
    position: relative;
    margin-left: 80%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 11;
}
nav .menu span {
    position: absolute;
    left: 0;
    background-color: #fcfffd;
    padding: 2px;
    width: 48px;
    border-radius: 4px;
}
nav .menu span:nth-child(1) {
    top: 0;
}
nav .menu span:nth-child(2) {
    top: 18px;
    width: 28px;
}
nav .menu span:nth-child(3) {
    bottom: 0px;
    width: 40px;
}
nav.active .menu span:nth-child(1) {
    top: 0;
    left: 23px;
    width: 4px;
    height: 40px;
}
nav.active .menu span:nth-child(2) {
    width: 40px;
    left: 5px;
}
nav.active .menu span:nth-child(3) {
    padding: 0px;
    width: 0;
}
nav.active .menu {
    transform: rotateZ(45deg);
}
nav ul li {
    padding: 24px 47px;
    color: #fcfffd;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #b16d6d;
    padding-left: 56px;
    transform: rotateX(45deg);
}
nav ul li:nth-child(1) {
    font-size: 60px;
    font-weight: 200;
}
nav ul li:nth-child(1):hover {
    background-color: transparent;
    padding-left: 47px;
}
nav.active ul {
    clip-path: circle(100% at 60% 45%);
    width: 100%;
}

nav ul li.active {
    color: #b16d6d;
}
nav ul li.active::before, nav ul li.active::after {
    content: " ◇ ";
} 
nav ul li.active:hover {
    background-color: rgb(222, 221, 235);
}

.down {
    background-color: transparent;
    border: none;
    color: #fcfffd;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

#card2, #card3 {
    padding: 16px;
    text-align: center;
    color: #141918;
}
#card2 h1, #card3 h1 {
    font-size: 80px;
}
#card2 q {
    font-size: 25px;
}

.about {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 40px;
}
.about p {
    font-size: 20px;
    padding: 40px;
}
.about img {
    width: 50%;
}

#card3 {
    color: #fcfffd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.summary div {
    font-size: 40px;
}
#card3 a {
    color: #fcfffd;
    font-size: 20px;
}


#card4 {
    height: 100%;
    padding: 16px;
    text-align: center;
    font-size: 24px;
}

.cta {
    background: rgb(34,132,195);
    background: linear-gradient(117deg, rgba(34,132,195,1) 0%, rgba(198,45,253,1) 100%);
    margin: -16px -16px 0 -16px;
    padding: 80px 16px;
}
.cta a button {
    padding: 16px;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    color: #fcfffd;
    background-color: #e04d4d;
    border: 1px solid #d8d3e4;
    transition: all 0.3s ease-in-out;
}
.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    text-align: left;
}
.foot div:nth-child(1) img {
    height: 60px;
    background-color: #8b9693;
}

#card4 ul {
    list-style: none;
}
#card4 ul li a {
    text-decoration: none;
    color: #492bab;
}

.foot div:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
}

.cta a button:hover {
    transform: scale(1.15);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #141918;
    z-index: 100;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px)  {
    #card1 h1 {
        font-size: 135px;
    }

    #card2 h1, #card3 h1 {
        font-size: 80px;
    }
    #card2 q {
        font-size: 28px;
    }

    .about {
        flex-direction: column-reverse;
    }
    .about p {
        font-size: 18px;
    }

    .summary {
        flex-direction: column;
    }

    .cta a button {
        width: 70%;
    }

    .foot {
        flex-direction: column;
    }
    .foot div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot div:nth-child(3) ul li {
        margin: 0 12px;
    }
}

@media only screen and (max-width: 500px) {
    nav .menu {
        width: 34px;
        height: 30px;
        margin-top: 8px;
    }
    nav .menu span {
        width: 34px;
    }
    nav .menu span:nth-child(2) {
        top: 14px;
        width: 24px;
    }
    nav .menu span:nth-child(3) {
        width: 36px;
    }
    nav.active .menu span:nth-child(1) {
        height: 30px;
    }
    nav.active .menu span:nth-child(2) {
        width: 30px;
        left: 10px;
    }
    nav ul {
        clip-path: circle(7.5% at 88% 2.6%);
        margin: -40px 0 0 0;
    }

    #card1 h1 {
        font-size: 90px;
    }

    .down {
        bottom: 50px;
    }

    .foot div:nth-child(1) img {
        height: 50px;
    }

    #card2 h1, #card3 h1 {
        font-size: 70px;
    }
    #card2 q {
        font-size: 24px;
    }

    .about {
        padding: 0;
    }
    .about img {
        width: 80%;
    }

    #card2, #card3 {
        padding: 0;
    }

    .cta a button {
        width: 95%;
    }
}

@media only screen and (max-width: 350px) {
    .foot div:nth-child(1) img {
        height: 40px;
    }
}